h1 {
    color: green;
}

.backCard {
    background-image: url("../assets/backofcard.png");
    background-repeat: no-repeat;
    height: 314px;
    width: 226px;
    display: inline-block;
    margin-left: 20px;
}